@page "/"
<PageTitle>In here, you can see your statistics and recommendations.</PageTitle>

@waitingMessage


<MainChartComponent activities="@activities"></MainChartComponent>

<hr />
<h3>Detailed Grade disposition</h3>

<div class="act-container">
    @foreach (var act in activities){
        <ActivityChartComponent activity="act"></ActivityChartComponent>
    }
</div>


@code {
    public string waitingMessage = "Loading, please wait..";

    public string activitiesPath = "data/Activities.json";
    public string gradesPath = "data/Grades.json";

    private List<Activity> activities;
    private List<Category> selectedCategories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        if (!File.Exists(gradesPath)){
            this.waitingMessage = "No saved data found, please update your grades.";
            return;
        }

        this.waitingMessage = "";

        // get list of Activities and Categories
        this.activities = JsonConvert.DeserializeObject<List<Activity>>(File.ReadAllText(activitiesPath));
        List<KeyValuePair<string, int>> grades = JsonConvert.DeserializeObject<List<KeyValuePair<string, int>>>(File.ReadAllText(gradesPath));

        foreach (var grade in grades)
        {
            this.activities.ForEach(act => act.addGrade(grade.Key, grade.Value));
        }

        this.activities.ForEach(act => act.init());
    }

    public void selectCategories(List<Category> categs){
        this.selectedCategories = categs;
    }
}

<style>
    .act-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
</style>