@page "/UpdateGrades"

<h3>You can input your grades here.</h3>

<MudText>
We do not have access to your grades. To see your statistics, copy the table you can find in the "Evaluations" tab of your algosup account.<br />
Your grades will be saved locally.
</MudText>

<MudTextField T="string" Label="Copy your evaluations here" Variant="Variant.Outlined" @bind-Value="@rawInput" Lines="10" />

<div class="update-button-container">
    <MudButton Variant="Variant.Filled" OnClick="editOutput">Update grades</MudButton>
</div>

@code {
    public string rawInput = "";
    public string gradesPath = "data/Grades.json";

    public void editOutput(){
        List<string> explodedInput = this.rawInput.Split("\n").ToList();
        List<KeyValuePair<string, int>> grades = new List<KeyValuePair<string, int>>();

        for (int i = 0; i < explodedInput.Count; i++)
        {
            if (DateTime.TryParse(explodedInput[i], out DateTime val) == true){
                grades.Add(new KeyValuePair<string, int>( explodedInput[i + 1], int.Parse(explodedInput[i + 3]) ));
            }
        }

        var output = Newtonsoft.Json.JsonConvert.SerializeObject(grades);

        System.IO.File.WriteAllText(gradesPath, output);

        Snackbar.Add($"Found {grades.Count} grades. Grades has been saved.", Severity.Success);
    }
}

<style>
    .update-button-container{
        text-align: right;
        padding: 10px;
    }
</style>
